# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
.venv

# DouYu Helper Sensitive Data
# 务必忽略 Cookie 文件，防止泄露到 Public 仓库
.github/douyu_cookie.txt
douyu_cookie.txt
douyu_cookies.txt

# User Configs (如果不希望上传自己的配置，可以取消注释)
# config/config.ini

# Logs
log/
*.log

# IDE
.idea/
.vscode/
.DS_Store
